.content-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.info {
    width: 60%;
}

.info section h2,
aside h2 {
    font-size: 2.5rem;
    color: #ff4f84
}

.info section p {
    padding: 2rem;
    font-size: 2rem;
    text-indent: 2.5rem;
    line-height: 2.25rem;
}

.bottom-p {
    margin-bottom: 4rem;
}

.content-container aside {
    width: 30%;
}