#home-container {
    width: 100%;
    min-height: calc(100vh - 18rem - 3px);
}

#home-main {
    border-bottom: 1px solid #4C566A;
}

.home-section {
    padding: 1rem;
}

.home-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #88C0D0;
}

.home-p {
    text-indent: 2rem;
    line-height: 1.3rem;
}

#home-posts {
    padding: 1rem;
}