header h1 {
    font-size: 3rem;
    padding: 3rem 0;
}

header nav {
    height: 2rem;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    width: 21rem;
}

.nav-link {
    text-decoration: none;
    color: #ffffff;
}

.nav-link:hover {
    cursor: pointer;
    color: #40b9ff;
}

.active-nav-link {
    color: #FFEB38;
}