footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: solid 1px #ffffff;
}
footer > div {
    margin-top: 3rem;
}

img {
    height: 5rem;
    margin: 0 1rem;
}

img:hover {
    cursor: pointer;
}

#linkedin {
    background-color: #1e6fb1;
}

footer h6 {
    margin-top: 1rem;
}